asn1crypto==0.24.0
blinker==1.4
boto==2.49.0
boto3==1.11.9
botocore==1.14.9
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
cryptography==2.7
docutils==0.15.2
gensim==3.8.1
idna==2.8
jmespath==0.9.4
joblib==0.14.1
nltk==3.4.5
numpy==1.18.1
oauthlib==3.0.1
pipenv==2018.11.26
psycopg2==2.8.3
pycparser==2.19
PyJWT==1.7.1
pyOpenSSL==19.0.0
PySocks==1.7.0
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
requests-oauthlib==1.2.0
s3transfer==0.3.2
scikit-learn==0.22.1
scipy==1.4.1
six==1.12.0
smart-open==1.8.4
tweepy==3.8.0
urllib3==1.24.3
virtualenv==16.7.8
virtualenv-clone==0.5.3
